body {
  background-image: url(../img/sideProject.jpg);
}

header {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  width: 40%;
  margin-top: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

li {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  list-style: none;
  width: 30%;
  text-align: center;
  display: inline-block;
}

section {
  font-size: 3em;
  color: white;
}

label{
  font-size: 3vw;
  max-width: 25%;
  color: white;
}

input {
  width: 20vw;
  max-width: 25%;

}

button {
  border: solid black .2em;
  border-radius: 10px;
  height: 5vh;
  width: 20vw;
  max-width: 15%;
  font-weight: bolder;
}

input {
  height: 4vh;
}

fieldset {
  max-width: 70vw;
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 1vw;
  text-align: center;
}

legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: .7vw 1.5vw;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  width: 20vw;
  text-align: center;
}

form{
width:80%;
margin-top: 8vh;
margin-left: auto;
margin-right: auto;
}

#button {
  font-family: 'Press Start 2P', cursive;
  max-width: 100%;
  width: 9vw;
}

/* canvas */

#pongView {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

canvas{
  border: solid blue 1em;
  width: 100%;
  border-radius: 10px;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

@medias