body {
  background-image: url(../img/sideProject.jpg);
}

header {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  width: 80%;
  margin-top: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

li {
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  list-style: none;
  width: 30%;
  text-align: center;
  display: inline-block;
}

#answer {
  font-size: 4em;
  color: white;
}

label{
  font-size: 3vw;
  color: white;
}

input {
  width: 20vw;
  font-size: 3em;
}

button {
  border: solid black .2em;
  border-radius: 10px;
  height: 5vh;
  width: 20vw;

  font-weight: bolder;
}

input {
  height: 4vh;
}

fieldset {
  
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 1vw;
  text-align: center;
}

legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: .7vw;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  width: 20vw;
  text-align: center;
}

form{
width:80%;
margin-top: 8vh;
margin-left: auto;
margin-right: auto;
}

#button {
  font-family: 'Press Start 2P', cursive;
  width: 9vw;
}

/* canvas */

#pongView {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

canvas{
  border: solid blue 1em;
  width: 100%;
  border-radius: 10px;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

#calc{
  background-color:white;
  width: 32vw;
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {

  header {
  font-size: 2em;  
  }

  label {
    font-size: 2em;
  }

  input {
    font-size: 2em;
  }

  li {
    font-size: 1.7em;
    display: inline;
    margin-right: auto;
    margin-left:auto;
    padding-bottom: 3em;
  }

   #submitForm #input {
    width: 80vw;
  }

 #button {
   width:80vw ;
 }

 #calc{
  width: 80vw;
}
 
}